<header class="app-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 d-flex justify-content-between">
        <div class="dropdown sort-options-dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="selected-option">Selected Option</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Name (A - Z)</a>
            <a class="dropdown-item" href="#">Name (Z - A)</a>
            <a class="dropdown-item" href="#">Rank Up</a>
            <a class="dropdown-item" href="#">Rank Down</a>
          </div>
        </div>

        <div class="form-group mb-0 search-user-input">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search">
          <i class="material-icons search-icon">search</i>
        </div>
      </div>
    </div>
  </div>
</header>